.modal,
.overlay {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modalContent {
  position: sticky;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -30%);
  animation: fadeIn 0.1s ease-in-out;
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  width: 30%;
  z-index: 3;
  height: fit-content;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
